@media screen and (max-width: 500px) {
	.w-home-nav {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	.w-home-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 2.25rem;

		&__link {
			margin: 0 1.5em;
			font-size: 1.25rem;
			font-weight: 800;
			color: white;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			-webkit-transition-duration: 0.5s;
			transition-duration: 0.5s;

			&:hover,
			&:focus,
			&:active {
				color: white;
				cursor: pointer;
				text-shadow: 3px 0px 7px rgba(25, 21, 92, 1);
				-webkit-transform: scale(1.2);
				transform: scale(1.2);
				-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
				transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
			}

			&:active {
				color: white;
			}

			&:focus {
				text-shadow: 3px 0px 7px rgba(25, 21, 92, 0.5);
			}
		}
	}
}

@media only screen and (max-width: 999px) and (min-width: 501px) {
	.w-home-nav {
		display: none;
	}
}
